<div class="margin">
  <mat-form-field class="datetime-input">
    <mat-label>{{ "VIEW.NAME" | translate }}</mat-label>
    <input matInput #input [formControl]="name" />
    <mat-hint
      *ngIf="name.invalid && (name.touched || name.dirty)"
      class="text-danger"
    >
      <span *ngIf="name.hasError('maxlength')">{{
        "DIALOG.NAME_ERROR_MAX_LENGTH" | translate
      }}</span>
    </mat-hint>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>{{ "VIEW.FROM" | translate }}</mat-label>
    <input
      matInput
      [ngxMatDatetimePicker]="picker"
      [formControl]="dateControlFrom"
      required="false"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="$any(picker)"
    ></mat-datepicker-toggle>
    <ngx-mat-datetime-picker
      #picker
      [showSpinners]="showSpinners"
      [showSeconds]="showSeconds"
      [stepHour]="stepHour"
      [stepMinute]="stepMinute"
      [stepSecond]="stepSecond"
      [touchUi]="touchUi"
      [color]="color"
      [enableMeridian]="enableMeridian"
    >
    </ngx-mat-datetime-picker>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>{{ "VIEW.TO" | translate }}</mat-label>
    <input
      matInput
      [ngxMatDatetimePicker]="picker1"
      [formControl]="dateControlTo"
      required="false"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="$any(picker1)"
    ></mat-datepicker-toggle>
    <ngx-mat-datetime-picker
      #picker1
      [showSpinners]="showSpinners"
      [showSeconds]="showSeconds"
      [stepHour]="stepHour"
      [stepMinute]="stepMinute"
      [stepSecond]="stepSecond"
      [touchUi]="touchUi"
      [color]="color"
      [enableMeridian]="enableMeridian"
    >
    </ngx-mat-datetime-picker>
  </mat-form-field>
  <button mat-raised-button color="primary" class="btn" (click)="filter()">
    {{ "VIEW.FIND" | translate }}
    <mat-icon>search</mat-icon>
  </button>

  <button
    mat-raised-button
    color="primary"
    class="btn-clear btn"
    (click)="clearFilter()"
  >
    {{ "VIEW.CLEAR" | translate }}
  </button>
</div>
<app-table [isEditor]="false"></app-table>
